@import "tailwindcss";

* {
  font-family: var(--font-nunito), sans-serif;
}

/* Nunito Utility Classes */
.nunito-regular {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 400;
  font-style: italic;
}

.nunito-bold {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nunito-bold-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-style: italic;
}

.nunito-medium {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nunito-medium-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 500;
  font-style: italic;
}

.nunito-semibold {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nunito-semibold-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 600;
  font-style: italic;
}

.nunito-light {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nunito-light-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 300;
  font-style: italic;
}

.nunito-extralight {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 200;
  font-style: normal;
}

.nunito-extralight-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 200;
  font-style: italic;
}

.nunito-black {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 900;
  font-style: normal;
}

.nunito-black-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 900;
  font-style: italic;
}

.nunito-extrabold {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 800;
  font-style: normal;
}

.nunito-extrabold-italic {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 800;
  font-style: italic;
}

.roboto-serif-regular {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-serif-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-serif-bold {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 700 !important;
  font-style: normal;
}

.roboto-serif-bold-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-serif-medium {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-serif-medium-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-serif-semibold {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-serif-semibold-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 600;
  font-style: italic;
}

.roboto-serif-light {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-serif-light-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-serif-thin {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-serif-thin-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-serif-black {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-serif-black-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-serif-extrabold {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 800;
  font-style: normal;
}

.roboto-serif-extrabold-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 800;
  font-style: italic;
}

.roboto-serif-extralight {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-serif-extralight-italic {
  font-family: var(--font-roboto-serif), serif;
  font-weight: 200;
  font-style: italic;
}

p {
  font-size: 18px;
  font-weight: 400;
  /* line-height: 24px; */
  color: #646464;
}
@media (max-width: 768px) {
  p {
    font-size: 18px;
  }
}

.custom-phone-input .PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Remove focus ring on the country dropdown */
.custom-phone-input .PhoneInputCountry:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Ensuring transparent background remains */
.custom-phone-input input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: #646464 !important;
}

.floating-button {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}


.marker-red::marker {
  color: #ED1C24 !important;
  font-size: 1rem;
}